<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testAlamofire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E660CFD1BC3CAE600777C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E660D111BC3CAE600777C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E660D1C1BC3CAE700777C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
